*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    width: 100vw;
    height: 100vh;
    background-image: "./assets/BMWlogoblack.jpg";
    background-size: cover;
}
.header__nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__nav::after{
    width: 1000px;
    height: 1px;
    background-color:white;
    position: absolute;
    content: "";
    top: 10%;
}
.header__nav__ul--anchors{
    display: flex;
    gap: 30px;
}
.header__nav__ul--icons{
    display: flex;
    gap: 30px;
}
.iconos{
    width: 30px;
}
.logo{
    width: 40px;
}